@import "./componentes/Header/Styles/index.scss";
@import "./componentes/Aside/Styles/index.scss";
@import "./componentes/Grid/Styles/index.scss";

.App{
  h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  .main{
    background-color: #ebebeb;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50vh;
  }
  
}

